.main_container {
  padding: 20px 50px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

h1 {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}