.main_container{
    padding: 0px 0px 20px 0px;
}
.main_container img{
  width: 100%;
}
.main_container h1{
  position: absolute;
  font-size: 85px;
  top: 70%;
  left: 25%;
  color: white;
}
/* menuitem css */
.navContainer {
    position: sticky;
    top: 100px;
    z-index: 1000; /* Adjust z-index as needed */
    /*background-color: red; /* Set background color as needed */
  }
  .navItem a{
    color: white;
    background-color: rgb(252, 155, 171); /* Set background color as needed */
  }
  .navItem a:hover{
    color: white;
    background-color: rgb(249, 177, 189); /* Set background color as needed */
    transform: scale(1.15,1.15);
  }
  .navItem a:focus{
    color: white;
    background-color: rgb(249, 177, 189); /* Set background color as needed */
    
  }
  .menuItem{
    background-color: rgb(249, 177, 189);
  }
/* menuitem css */
.custom_row {
    height: 50vh;
  }
  .custom_container{
    margin-top: 50px;
    width: 70%;
  }
  .red_col {
    background-color: rgb(240, 240, 240);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .menuDetails{
    width:50%;
    padding: 75px;
  }
  .menuDetailsRow{
    display: flex;
    flex-direction: row;
    
  }
  .menuDetailsRowFirst{
    width: 50%;
  }
  .menuDetailsRowSecond{
    width: 50%;
    text-align: right;
  }
  .blue_col {
    
  }
  
  .slider_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.meal_tile {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.meal_tile:hover {
    transform: scale(1.05);
}

.meal_image {
    width: 100%;
    height: auto;
}

.meal_name {
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

.selected_meal_cont {
    width: 500px;
    position: absolute;
    top: 80px;
    left: 30%;
    background-color: #f9f9f9;
    border-radius: 10px;
}
.selected_meal {
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.selected_meal_image {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
}

.slider_but {
    width: 100%;
    height: 300px;
}
.pinkTable {
    /* Dostosuj ten kolor do swoich preferencji */
  }
  
.pinkTable tbody tr:nth-child(odd) {
    background-color: #ffcccc; /* Różowy kolor dla nieparzystych wierszy */
  }
  
.pinkTable tbody tr:nth-child(even) {
    background-color: #ffe6e6; /* Jasnoróżowy kolor dla parzystych wierszy */
  }
