.content {
	background-color: rgb(38, 38, 38);
	color: white;
  }
  
  .link_grp {
	border-left: 1px solid white;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
  }
  
  .link_grp:first-child {
	border-left: 0px solid white;
  }
  
  .link_elem {
	color: white;
	text-decoration: none;
	font-weight: 300;
	padding: 5px;
  }
  
  .link_copy {
	color: white;
	text-decoration: none;
	font-weight: 300;
	padding: 5px 0;
  }
  
  .column{
	padding-top: 10px;
  }